.home-content{
    text-align: center;
}

.projects-tab{
    display: inline-block;
    width: 70%;
}

.roxinho{
    color: rgba(151,105,245,.98)!important;
}

.home-header{  
  line-height: 90px; 
  font-weight: 600;
  color: rgba(151,105,245,.98);
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;  
}

.home-header h1{
    margin-top: 50px;
}

@media screen and (max-width: 750px) {
    .home-header{
      display: none!important;
    }
  }