.project-a{
    font-size: 25px;
    color: rgba(151,105,245,.98)!important;
}

.project-top-content{
    margin: auto;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-image-gallery{
    margin: 25px 25px 25px 25px;
    width: 60%;
    float: left;
}

.wrap-project-infos{
    display: -webkit-box;
    min-height: 560px;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    padding-bottom: 50px!important;
    float: left;
    width: 80%;
}

@media (max-width: 1400px){
    .wrap-project-infos{
        display: flex;
    }
}

.image-gallery-slide img{
    max-height: 560px;
}

.clearBoth{
    clear: both;
}

.project-info{
    margin: 5px;
    font-size: 30px;
    color: black;
}

@media (max-width: 500px){
    .project-info{
        font-size: 20px;
    }
}

@media (max-width: 300px){
    .project-info{
        font-size: 15px;
    }
}

.project-platform-badges .badge{
    height: 20px;
    width: 30px;
}

.project-title{
    margin: 50px 0 50px 25px;
}

.project-btn-donate{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
}

.btn-donate{
    font-size: 15px;
    line-height: 1.5;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background: green;
    justify-content: center;
    align-items: center;
}

.project-content{
    margin: 50px 0 50px 25px;
}

.project-title{
    font-family: Big Noodle Too,impact,sans-serif;
    font-size: 4.88281rem;
    font-weight: 400;
    font-variant: normal;
    line-height: normal;
    letter-spacing: .5px;
}

.project-budget-progress-bar{
    display: inline;
}

.reached-budget{
    float: right;
    margin-right: 6px;
}

.budget{
    float: left;
    margin-left: 6px;
}

.react-sweet-progress{
    margin-left: 6px;
    margin-right: 6px;
    width: auto!important;
}

.project-content-item{
    margin:10px 20px 20px 10px;
}

.react-sweet-progress-symbol{
    font-size: 15px;
}

.image-gallery-fullscreen-button{
    display: none;
}

.image-gallery-play-button{
    display: none;
}

.image-gallery-thumbnails-wrapper {
    display: none;
}

.contribue-form{
    justify-content: center;
    width: 520px;
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
}

.cancel-contribuition-modal{
    border-radius: 5px;
    background: red;
    justify-content: center;
    align-items: center;
    color: white;
}

input[type='file'] {
    display: none
}
  
.change-cover-label {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
}

.react-sweet-progress-line-inner{
    max-width: 350px!important;
}

.feedback-form{
    justify-content: center;
    width: 520px;
    margin-top: 50px;
    margin: 20px;
}

.btn-post{
    font-size: 15px;
    line-height: 1.5;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background: green;
    justify-content: center;
    align-items: center;
}

.feedback-content {
    display: flex;
    width: 520px;
    flex-direction: row;
    background-color: #FAFAFA;
    margin: 0px 0px 16px 0px;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    left: -1px;
    color: rgba(151,105,245,.98)!important;
}
  
.feedback-content:last-child {
    margin-bottom: 0px;
}

.your-feedback{
    margin: 20px;
}

.feedback-item{
    margin: 5px;
}


